body {
    background-color: rgb(251, 251, 251);
}

.green {
    background-color: rgb(231, 255, 218);
}

h1 {
    font-size: 50px;
}

h2 {
    font-family: 'Mali', cursive;
    font-size: 25px;
}

input {
    margin-right: 10px;
    margin-left: 10px;
}

label {
    font-size: 25px;
}
